* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark_blue: #132c33;
	--medium_blue: #126e82;
	--light_blue: #51c4d3;
	--ultra-light_blue: #9fd8df;
	--gray-blue: #d8e3e7;
	--lighty-green: #dfeeea;
}

header {
	width: 100%;
	height: auto;
	background: #393e46;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: aliceblue;
}

/* ELEMENTOS IMPORTADOS*/
.header_section {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2px;
	height: 48px;
}

.ubication {
	display: flex;
	padding: 0 8px; /*up/down left/right */
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px; /* espacio entre letras*/
	color: var(--gray-blue);
	font-size: 20px;
	gap: 12px;
}

.header_icon__gitHub {
	content: url('../img/github.png'); /*Con esto me evito tener que colocar background-image: y los otros 3 estandares para que ocupe todo el espacio, para que no se repita, etc*/
	width: 22px;
	height: 22px;
}

.header_icon__home {
	content: url('../img/home.png');
	width: 22px;
	height: 22px;
}

.nav_workshops {
	display: none; /* Esconde el elemento y colapsa el espacio que debería ocupar*/
}

/* FIN DE ELEMENTOS IMPORTADOS*/

h1 {
	margin-bottom: 15px;
}

main {
	padding-top: 20px;
	width: 100%;
	height: auto;
	background-color: #8785a2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cards {
	width: 310px;
	height: 500px;
	border: 2px solid white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	background-color: #0093e9;
	background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
	box-shadow: 0px 10px 20px 2px #ccc;
	margin-bottom: 20px;
}

h2 {
	align-self: center;
	padding: 5px;
	text-align: center;
	color: #112d4e;
	margin-bottom: 20px;
}
form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 80px);
	align-items: center;
	padding: 5px;
}

label {
	display: flex;
	text-align: center;
}

input {
	width: 150px;
	height: 40px;
	border-radius: 10px;
}

.descuentoporcentaje {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	background: #2eb086;
	box-shadow: 1px 1px 10px 0px green;
}

#resultP {
	margin: 30px auto;
	font-weight: bold;
	color: #0f0e0e;
}

.inputCupon {
	opacity: 1;
}

.descuentos {
	height: 30px;
	margin-right: 3px;
	border-radius: 10px;
	background: #2eb086;
	font-weight: bold;
}

.descuentos:active {
	background-color: #0093e9;
}

#valorDescuento {
	margin: 0 auto;
}

@media (min-width: 700px) {
	main {
		display: flex;
		flex-direction: row;
	}
	.cards {
		margin-right: 10px;
	}
}

@media screen and (min-width: 500px) {
	.nav_workshops {
		display: flex;
		gap: 6px;
		justify-content: center;
		align-items: center;
	}
}
